* {
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
header {
	height: 20vh;
}
.header {
	display: flex;
	justify-content: center;
	right: 20rem;
	align-items: center;
	height: 100%;
	background-color: rosybrown;
}
.button-container {
	width: auto;
	margin-left: 5rem;
	margin-right: 5rem;
}
.button {
	display: flex;
	justify-content: space-between;
}

#output {
	display: flex;
	justify-content: flex-start;
}

#output div {
	border: 1px solid rgb(199, 199, 199);
	margin: 1rem;
	padding: 1rem;
	width: 10rem;
	/* display: flex;
	justify-content: center; */
	align-items: center;
	cursor: pointer;
}
#output div h2 {
	right: inherit;
}

#allGroups {
	margin-top: 1rem;
}
#myGroups {
	margin-top: 1rem;
}
